.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/hero_img.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 50vh;
  width: 100%;
}
